@model Produto

<div class="row">

    <div class="col-md-6 mb-3">

        <label class="fw-bold">
            Categoria
        </label>

        <div class="form-control">
            @Model.Categoria
        </div>

    </div>

    <div class="col-md-6 mb-3">

        <label class="fw-bold">
            Tipo Madeira
        </label>

        <div class="form-control">
            @Model.TipoMadeira
        </div>

    </div>

</div>

<div class="mb-3">

    <label class="fw-bold">
        Descrição
    </label>

    <div class="form-control">
        @Model.Descricao
    </div>

</div>

<div class="row">

    <div class="col-md-4 mb-3">

        <label class="fw-bold">
            Dimensões
        </label>

        <div class="form-control">
            @Model.Dimensoes
        </div>

    </div>

    <div class="col-md-4 mb-3">

        <label class="fw-bold">
            Unidade
        </label>

        <div class="form-control">
            @Model.UnidadeMedida
        </div>

    </div>

    <div class="col-md-4 mb-3">

        <label class="fw-bold">
            Estoque
        </label>

        <div class="form-control">
            @Model.QuantidadeEstoque
        </div>

    </div>

</div>

<div class="mb-3">

    <label class="fw-bold">
        Fornecedor
    </label>

    <div class="form-control">
        @(Model.Fornecedor?.NomeFantasia ?? "N/A")
    </div>

</div>